* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form input {
  width: 80%;
}

form .btn {
  width: 15%;
}

.user-request-form {
  display: none;
}

.chat {
  display: none;
}

.container {
  position: relative;
  width: 70%;
  min-height: 100%;
  margin: auto;
}

.left-container {
  float: left;
  width: 15%;
}

.right-container {
  float: left;
  width: 85%;
}

form {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

form input {
  padding: 1em;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}